@font-face {
  font-family: Raleway;
  src: url(../assets/font/Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway - Bold;
  src: url(../assets/font/Raleway/Raleway-Bold.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../assets/font/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans - Bold;
  src: url(../assets/font/OpenSans/OpenSans-Bold.ttf);
}
