.btn {
  display: inline-block;
  background: $button-color;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  width: 280px;
  height: 56px;
  margin-top: 2rem;
}
